#app {
    text-align: center;
}
.no-display {
    display: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 12em; /* Space for footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.st-navbar {
    width: 100%;
    z-index: 30;
}

.st-navbar.has-shadow {
    box-shadow: 0 2px 0 0 #e5e5e5;
}

.level {
    width: 100%;
}

.dropdown-item:hover {
    background-color: rgb(217, 224, 228);
}

.dropdown-content {
    background-color: hsla(0, 0%, 95%, 1);
    border-width: 2px;
    border-color: hsla(0, 0%, 85%, 1);
    border-style: solid;
}

.box-sizing-inherit {
    box-sizing: inherit;
}

.min-width-10 {
    min-width: 10em !important;
}

.flex-grow-99 {
    flex-grow: 99;
}

.grow-99 {
    flex: 99 1 50vh;
}
