#app {
    text-align: center;
}

// Autohide navbar
.page-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.content-wrap {
    padding-bottom: 12em; /* Space for footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.st-navbar {
    width: 100%;
    z-index: 30;
}

.st-navbar.has-shadow {
    box-shadow: 0 2px 0 0 #e5e5e5;
}

.navbar-item {
    padding: 1px !important;
}

// cf. https://github.com/jgthms/bulma/issues/1790
.dropdown .dropdown-menu {
    display: block;
    opacity: 0;

    position: absolute; /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-50%);
    transition: all 0.15s ease-in-out;
    pointer-events: none;
}

.dropdown.is-active .dropdown-menu {
    opacity: 1;
    transform: none;
    pointer-events: auto;
}

// Bulma Dropdowns style
.dropdown-menu.is-10rem {
    min-width: 10em;
}

.dropdown-item:hover {
    background-color: rgb(212, 225, 233);
}

.dropdown-content {
    background-color: hsla(0, 0%, 95%, 1);
    border-width: 1px;
    border-color: hsla(0, 0%, 85%, 1);
    border-style: solid;
    box-shadow: 0 2px 0 0 #f0f0f0;
}

.navbar-search {
    flex: 10 1 50vh;
    min-width: 5em;
    max-width: 20em;
}

.flex-spacer {
    flex: 1 1;
}

.no-border {
    border-width: 0px;
}

// Dropdowns style
.button.is-rounded-1:not(.is-rounded) {
    border-radius: 0.8em;
}
